.page-content {
  padding: 30px 0;
  background-color: #fff;
}

.wrap {
  max-width: 620px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

.wrap:before, .wrap:after {
  content: "";
  display: table;
}

