
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.site-footer .column {
  float: left;
  margin-bottom: 15px;
}

.footer-col-1 {
  width: 270px;
  width: -webkit-calc(35% - 10px);
  width: -moz-calc(35% - 10px);
  width: -o-calc(35% - 10px);
  width: calc(35% - 10px);
  margin-right: 10px;
}

.footer-col-2 {
  width: 175px;
  width: -webkit-calc(23.125% - 10px);
  width: -moz-calc(23.125% - 10px);
  width: -o-calc(23.125% - 10px);
  width: calc(23.125% - 10px);
  margin-right: 10px;
}

.footer-col-3 {
  width: 335px;
  text-align: right;
  width: -webkit-calc(41.875%);
  width: -moz-calc(41.875%);
  width: -o-calc(41.875%);
  width: calc(41.875%);
}

.site-footer ul {
  list-style: none;
}

.site-footer li, .site-footer p {
  font-size: 15px;
  letter-spacing: -.3px;
  color: #828282;
}